sounds_th/ufo2.png
music_th/gameover.png
music/gameover.mp3
music/oort_theme.mp3
music/oortmenu.mp3
music/tchakrulo.mp3
music_th/oort_theme.png
music_th/oortmenu.png
music_th/tchakrulo.png
sounds/bigboom.wav
sounds/boom.wav
sounds/death.wav
sounds/newlife.wav
sounds/pew.wav
sounds/ufo1.wav
sounds/ufo2.wav
sounds_th/bigboom.png
sounds_th/boom.png
sounds_th/death.png
sounds_th/newlife.png
sounds_th/pew.png
sounds_th/ufo1.png
sprites/asteroid1.png
sprites/asteroid2.png
sprites/asteroid3.png
sprites/asteroid4.png
sprites/bigufo_death.png
sprites/bigufo.png
sprites/death.png
sprites/hyperdrive.png
sprites/icon.png
sprites/laser.png
sprites/lilufo_death.png
sprites/lilufo.png
sprites/logo.png
sprites/rotate.png
sprites/ship.png
sprites/shoot.png
sprites/space.png
sprites/thrust.png
sprites/ufolaser.png
sprites/voyager.png
sprites/warp.png
